#topMenu {
  background: #2d50a7;
  margin-bottom: 10px;
}
#topMenu #topMenu_nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

#topMenu #topMenu_nav li {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}
#topMenu #topMenu_nav li:last-of-type {
  margin-left: auto;
}
#topMenu .tab-content {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#topMenu .tab-content .tab-child {
  display: block;
  background: #3399cc;
  overflow: hidden;
}
.maxH-0 {
  max-height: 0;
}
.maxH-1000 {
  max-height: 1200px;
}
.downEffect {
  background: #3399cc;
  -webkit-transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
  -moz-transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
  -o-transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
  -ms-transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
  transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
}
.upEffect {
  background: #3399cc;
  -webkit-transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
  -moz-transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
  -o-transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
  -ms-transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
  transition: max-height 0.25s ease-in-out, box-shadow 0.3s linear;
}

/* Login and register */

#loginAndRegister .note {
  font-size: 1rem;
  color: #ffffff;
}
#loginAndRegister input[type="text"] {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 6px 10px;
  border: none;
  outline: 0;
  margin-top: 8px;
}
#loginAndRegister input[type="checkbox"] {
  margin-top: 8px;
}
#loginAndRegister label {
  color: #ffffff;
  font-size: 0.9rem;
  cursor: pointer;
}
#loginAndRegister .forgotLink {
  color: #ffffff;
  font-size: 0.8rem;
  float: right;
}
#loginAndRegister .actLoginRegister {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 3px solid #17a;
  background: #9c0;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
#loginAndRegister .actLoginRegister:hover {
  background-color: #ad0;
}
/* login facebook */
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  /* margin: 0.2em; */
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
    6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
  width: 84%;
  padding: 4px 6px;
  text-align: center;
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
    6px 6px no-repeat;
  background-size: auto;
  background-position: center;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}

.loginBtn--switter:before {
  border-right: #bb3f30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
    6px 6px no-repeat;
}
.loginBtn--switter:hover,
.loginBtn--switter:focus {
  background: #e74b37;
}
