body {
    margin: 0;
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    min-height:100vh;
    font-size: 14px;
    box-sizing: border-box;
}
*{
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


