#banner{
  margin-bottom: 10px;
}
#banner .item__slide {
  display: flex;
  overflow: hidden;
}
#banner .banner__slide {
  position: relative;

  max-height: 350px;
}
#banner .banner__slide a {
  text-decoration: none;
}
#banner .banner__slide .item__slide {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#banner .banner__slide .act-slide {
  position: absolute;
  top: 0;
  display: none;
  border: none;
  outline: 0;
  /*opacity: 0.3;*/
  background:rgba(51, 170, 51, .4);
  padding: 8px 12px;
  z-index: 10000;
}
#banner .banner__slide:hover .act-slide {
  display: block;
}
#banner .banner__slide .right {
  right: 0;
}
#banner .banner__slide .item__slide{
  position: relative;
  height: 500px;
}
#banner .banner__slide .item__slide .banner__image {
  position: absolute;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  background-size: 100%;
  transition: background-position 4s ease-in-out;
}


#banner .banner__slide .item__slide .banner__description {
  position: absolute;
  top: 0;
  left: 0;
  flex: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px 8px;
  justify-content: flex-end;
  height: 100%;
  color: #000000;
  max-height: 350px;
  background-image: linear-gradient(to right,#ffffff 0%,rgba(255,255,255,0.4) 40%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%);
  /*background: darkblue;*/
}
#banner .banner__slide .item__slide .banner__description .title {
  font-weight: 700;
  font-size: 1.4rem;
  color: #000000;
  text-shadow: 3px 3px 5px #ffffff;
}
#banner .banner__slide .item__slide .banner__description .description {
  font-weight: 700;
  font-size: 1rem;
  color: #000000;
  text-shadow: 3px 3px 5px #ffffff;
}